# Compiled class file
**/*.class

# Log file
**/logs/*

# BlueJ files
**/*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
**/*.jar
**/*.war
**/*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

## Ignore Maven build output directory
target/

# Ignore NetBeans specific files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Ignore Tomcat related directories
**/Tomcat/
**/tomcat/work/
**/tomcat/temp/
**/tomcat/logs/

# Ignore IDE specific files
.idea/
*.iml
*.iws

# Ignore Mac OS X specific files
.DS_Store
