/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 29, 2024, 12:53:04 PM
    Author     : MC DODANGODA
*/
.position-relative{
   position: relative;
}
.required::after{
   content: "*";
   color: #b4071b;
   position: absolute;
}
.form-container{
   padding-top: 4%;
   width: auto;
   display: flex;
   justify-content: content;
   align-items: center;
   margin-top: 30px;
}
.content p{
   font-weight: 500;
}
.content{
   border-bottom: 1px solid #000;
   max-width: 50%;
}
.form-container .contactInfo{
   display: flex;
   flex-direction: column;
}
.contactInfo .text{
   padding-left: 10px;
   font-size: 16px;
   width: 100%;
   
}
.contact .content{
   text-align: center;
}
.form-container .contactInfo .box{
   position: relative;
   padding: 20px 0;
   display: flex;
}
.form-container .contactInfo .box .icon{
   width: 40px;
   height: 40px;
   background:#00a991;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
}
.form-box{
   width: 50%;
   height: 800px;
   position: absolute;
   top: 4%;
   right: 7%;
   margin: 6% auto;
   padding: 40px;
   box-sizing: border-box;  
}
h1{
   font-size: 30px;
   color:#00a991;
}
.form label{
   font-weight: 600; 
   padding: 10px;
   color: #000;
}
.form-label  {
   color: #000;
   font-weight: 600;
   padding-top:5px;
}
.button-container{
   padding-top: 2px;
   
}
  
 
